@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #36200a;
  background-color: #f7f4e6;
  font-size: 1rem;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/*
共通クラス
*/
.container {
  max-width: 1140px;
  margin-inline: auto;
}

.sub-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 32px;
}

.inner {
  max-width: 1000px;
  margin-inline: auto;
}

.page-intro {
  max-width: 600px;
  text-align: center;
  margin-inline: auto;
}

.site-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 88px;
  padding-bottom: 20px;
}

.each-course {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 20px;
}

.main-title {
  display: none;
}

.fade-in-text {
  transition: all 1s ease;
}

/*-------------------------------------------
header
-------------------------------------------*/
/*
「position: fixed;」でヘッダーを固定し、「z-index: 10;」で前面に表示
※他のコンテンツでpositionをrelative、absolute、fixedのいずれかに
設定している場合は、z-indexの数値が大きい方が前面に表示される
*/
header {
  width: 100%;
  background-color: #4d8b4a;
  position: fixed;
  z-index: 20;
  color: #ffffff;
  line-height: 80px;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline h1 {
  font-size: 24px;
  color: #ffffff;
}

.nav {
  display: flex;
  font-size: 18px;
  align-items: center;
}

.nav a {
  margin-left: 16px;
  color: #ffffff;
}

/* ======================================== */
/* mainvisual */

.mainvisual {
  height: calc(100vh - 80px);
  position: relative;
  margin-bottom: 120px;
}

.mainvisual .text {
  position: absolute;
  top: 70%;
  left: 15%;
  z-index: 10;
  color: #ffffff;
  font-size: 24px;
}

.mainvisual .text p:nth-of-type(2) {
  padding-left: 150px;
}

.mainvisual img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* mainvisual アニメーションを使用して画像を切り替える*/
.mainvisual .fade li {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  animation: fade 15s infinite;
}

.mainvisual .fade li:nth-child(1) {
  animation-delay: 0s;
}
.mainvisual .fade li:nth-child(2) {
  animation-delay: 5s;
}
.mainvisual .fade li:nth-child(3) {
  animation-delay: 10s;
}

.mainvisual .fade li img {
  height: calc(100vh - 80px);
  object-fit: cover;
}

/*
アニメーション処理
上の「animation」で15sを指定しているので下記の処理を15秒かけて実行
0%が0秒を表し、100%が15秒後を表す。

0%の「opacity: 0;」で非表示の状態からスタートし、
15%になるまでの間に少しづつ画像を表示（フェードイン）させる。
そこから30%の時点までは画像を表示させたままの状態を維持し、
45%の時点に向けて画像を非表示（フェードアウト）する。
そこから100%まで非表示の状態を維持する。
/* */
@keyframes fade {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* ===================================== */
/* about */
.about .container {
  display: inline-block;
  margin-inline: auto;
}

.tea-ceremony {
  display: flex;
  gap: 64px;
  margin-bottom: 120px;
}

.tea-ceremony img {
  width: 46%;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.texts {
  width: 54%;
}

.explain p {
  text-align: left;
}

.utensils {
  display: flex;
  gap: 64px;
  margin-bottom: 120px;
}

.utensils img {
  width: 46%;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}
.button {
  text-align: center;

  transition: opacity 0.2s ease, transform 0;
}

.button:hover {
  opacity: 0.6;
}

.button:active {
  opacity: 0.7;
  transform: translateY(1px);
}

.btn {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  width: 200px;
  height: 60px;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 50px;
  background-color: #4d8b4a;
}

/*==========================================  */
/* courses */
.courses {
  margin-bottom: 120px;
  background-color: #e2d9b5;
  padding-top: 100px;
  padding-bottom: 80px;
}

.three-courses {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.tea-class img {
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.tea-class img {
  width: 100%;
  display: block;
}

.details {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: bold;
}

.tea-class p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

/* ============================================== */
/* reviews */
.reviews {
  text-align: left;
  margin-bottom: 120px;
}

.voices li {
  font-size: 16px;

  line-height: 2;
  margin-bottom: 24px;

  padding: 24px 0 20px;
  border-bottom: 2.5px solid #ded7bd;

  width: 75%;
}

.voices li:first-child {
  margin-top: 32px;
  padding-block: 12px;
}

.voices li:nth-child(2) {
  margin-left: auto;
}

/* ================================================= */
/* access */
.access {
  background-color: #e2d9b5;
  padding-top: 100px;
  padding-bottom: 80px;
}

.info {
  display: flex;
  gap: 64px;
}

.button {
  text-align: center;
}

.btn1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  width: 300px;
  height: 60px;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 50px;
  background-color: #4d8b4a;
}

.address li {
  line-height: 2;
}

.address li:nth-child(1) {
  margin-top: 30px;
}
.address li:nth-child(3) {
  margin-top: 70px;
}

.address li:nth-child(4) {
  margin-bottom: 60px;
}

/* =================================================== */
/* footer */
footer {
  text-align: center;
  height: 80px;
  background-color: #4d8b4a;
  color: #ffffff;
  line-height: 80px;
}

/* ********************************************* */
/* course__second-page */
/* ********************************************* */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #4d8b4a;
  z-index: 100;
}

.site-header__inner {
  max-width: 1000px;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #ffffff;
  font-size: 24px;
}

.nav ul {
  display: flex;
  gap: 24px;
}

.nav a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

main {
  padding-top: 80px;
}

.course p {
  text-align: center;
  padding-bottom: 20px;
}

.course p:nth-of-type(2) {
  margin-bottom: 120px;
}

.tea-ceremony {
  display: flex;
  justify-content: center;
}

.tea-ceremony img {
  width: 45%;
}

.contents {
  width: 55%;
}

h4 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 64px;
}

.feature {
  margin-bottom: 40px;
  line-height: 2;
  border-radius: 10px;
  text-align: center;
}

h5 {
  font-size: 14px;
  color: #ffffff;
  border: 1px, solid, #4d8b4a;
  background-color: #4d8b4a;
  line-height: 2;
}

.contents li {
  padding-bottom: 20px;
  position: relative;
  margin-left: 10px;
}

.contents li::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  background-color: #36200a;
  top: 20%;
  left: -10px;
}

.btn2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  width: 432px;
  padding: 22px 20px;
  display: inline-block;

  margin-bottom: 88px;
  border-radius: 50px;
  background-color: #4d8b4a;
}

/* ********************************************* */
/* tool _third page*/
/* ********************************************* */
.tools {
  display: flex;
  gap: 120px;
  margin-bottom: 64px;
}

.tool-image,
.tool-text {
  flex: 1 1 0;
}

.tool-image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

h6 {
  text-align: center;
  padding: 30px 0 30px;
  font-size: 16px;
}

.tool-text ul li {
  padding-bottom: 20px;
}

.tool p:nth-of-type(2) {
  margin-bottom: 120px;
}

/* ********************************************* */
/* contact _fourth page*/
/* ********************************************* */
form {
  padding: 20px;
  width: 90%;
  max-width: 670px;
  margin-inline: auto;
  border-radius: 10px;
  text-align: left;
}

/* ラベルのスタイル */
label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
  color: #555;
}

/* 入力欄のスタイル */
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-btn {
  text-align: center;
  margin-top: 40px;
  transition: opacity 0.2s ease, transform 0;
}

.submit-btn:hover {
  opacity: 0.8;
}

.submit-btn:active {
  opacity: 0.7;
  transform: translateY(1px);
}

.submit-btn input {
  padding: 14px 60px;
  background-color: #4d8b4a;
  color: #fafafa;
  font-weight: bold;
  cursor: pointer;
  max-width: 400px;

  border-radius: 50px;
  margin-bottom: 88px;
}

.fade-in-text {
  text-align: center;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in-text.show {
  opacity: 1;
  transform: translateY(0);
}

form {
  margin-top: 20px;
}

/*========= responsive tablet or pc 931px =========  */
@media (max-width: 931px) {
  .container,
  .inner {
    padding: 0 16px;
  }
}

/* ============================================ */
/****************** responsive スマホ******************/
/* ============================================ */
@media (max-width: 768px) {
  /* ----- 共通 -----  */
  .container {
    padding: 0 16px;
  }

  .inner {
    padding: 0 16px;
  }

  /* \\\\\\\ header \\\\\\\ */
  .nav {
    font-size: 18px;
    flex-direction: column;
  }

  .nav a {
    margin-left: 0;
    color: #4d8b4a;
    font-weight: bold;
  }

  /********************* ハンバーガーメニュー */
  /********************* ハンバーガーが開く前 */
  .nav {
    width: 250px;
    background: #fff;
    padding: 25px;
    position: fixed;
    top: 0;
    left: -250px;
    bottom: 0;
    opacity: 0;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 25;
  }

  .nav li {
    margin-block: 10px;
  }

  .hamburger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 22px;
    right: 18px;
    transition: 0.5s;
    z-index: 20;
  }

  .hamburger span {
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 0;
    transition: 0.5s;
  }

  .hamburger span:nth-child(1) {
    top: 4px;
  }

  .hamburger span:nth-child(2) {
    top: 14px;
  }

  .hamburger span:nth-child(3) {
    bottom: 4px;
  }

  .mask {
    display: none;
    transition: 0.5s;
  }

  /******************** ハンバーガーが開いたとき */
  .open .nav {
    left: 0;
    opacity: 1;
  }

  .open .main-title {
    display: block;
    margin-left: 0;
    color: #4d8b4a;
    font-weight: bold;
    margin-inline: 10px;
  }

  .open .hamburger span {
    background-color: #f7f4e6;
  }

  .open .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }

  .open .hamburger span:nth-child(2) {
    opacity: 0;
  }

  .open .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }

  .open .mask {
    width: 100%;
    height: 100%;
    background-color: #36200a;
    cursor: pointer;
    display: block;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  /* 各メニューをクリックしたときにホバーをつける */
  .nav a {
    position: relative;
    display: inline-block;
    padding: 8px 0;
    /* padding: 0; */
    color: #4d8b4a;
    line-height: 1.4;
    text-decoration: none;
  }

  .nav a::before,
  .nav a::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background: #ded7bd;
    opacity: 0;
    transition: all 2s ease;
  }

  .nav a::before {
    top: 0;
    left: left;
    transform-origin: left;
  }

  .nav a::after {
    bottom: 0;
    right: 0;
    transform-origin: right;
  }

  .nav a:hover::before,
  .nav a:hover::after {
    opacity: 1;
  }

  /*\\\\\\\\\\\\\\\\\\ about \\\\\\\\\\\\\\\\\ */
  .tea-ceremony {
    display: flex;
    flex-direction: column;
  }

  .tea-ceremony img {
    width: 100%;
    display: block;
  }

  .texts {
    width: 100%;
  }

  .utensils {
    display: flex;
    flex-direction: column-reverse;
  }

  .utensils img {
    width: 100%;
  }

  /*\\\\\\\\\\\\\\\\\\ courses \\\\\\\\\\\\\\\\\ */
  .three-courses {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .tea-class {
    margin: 0;
    width: 100%;
    height: auto;
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\ access \\\\\\\\\\\\\\\\ */
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contacts {
    justify-content: center;
  }

  .info iframe {
    width: 100%;
    max-width: 520px;
  }

  .address li:nth-child(1) {
    margin-top: 30px;
  }

  .address li:nth-child(3) {
    margin-top: 10px;
  }

  .address li:nth-child(4) {
    margin-bottom: 30px;
  }

  /* \\\\\\\\\\second-page, course \\\\ */
  .tea-ceremony {
    display: flex;
    flex-direction: column;
  }

  .contents {
    width: 100%;
    align-items: center;
  }

  /* \\\\\\\\ third-page, tool\\\\\\\\\ */
  .tools {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }

  .tool-image {
    order: 1;
  }

  .tool-text {
    order: 2;
  }
}
